.CreateTestCaseScreenContainer {
    display: flex;
    flex-direction: column;
    padding: 16px 15% 0px 15%;
}

.CreateTestCaseScreenContainer__title {
    font-size: 2rem;
}

.CreateTestCaseScreenContainer form{
    display: flex;
    flex-direction: column;
}

.CreateTestCaseScreenContainer > *{
    max-width: fit-content;
}

.CreateTestCaseScreenContainer button{
    margin: 8px 0 0 0;
    max-width: fit-content;
}