.TestScenarioScreenContainer {
    display: flex;
    padding: 48px 15% 0px 15%;
    column-gap: 32px;
}

.TestScenarioScreenContainer__title {
    font-size: 2em;
}

.TreeViewComponent {
    display: flex;
    flex-direction: column;
    border: 1px solid #125f78;
    width: 320px;
    height: 320px;
}


.ClickableOpacityTreeView:hover {
    cursor: pointer;
    background-color: #eee;
    width: 100%
}

.TreeViewTestCases {
    display: flex;
    flex-direction: column;
}

.TreeViewTestCases span{
    padding-left: 44px;
}

.TreeViewTestCase:hover {
    cursor: pointer;
}

.TestScenarioScreen {
    width: 600px;
}